@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.categories {
    background-color: #EBEBEB;
    width: 100%;
    min-height: 100vh;
}

.leftSide {
    width: fit-content;
    transition: all 0.3s ease;
    position: absolute;
    top: 70px;
    height: calc(100vh - 70px);
}

.content {
    margin-top: 100px;
    margin-left: 270px;
    width: calc(100% - 270px);
}

@media (max-width: 768px) {
    .content {
        margin: 100px 20px 60px;
        width: 100%;
    }

    .hide {
        transform: translateX(-100%);
        display: none;
    }

    .show {
        transform: translateX(1);
        display: block;
        -webkit-transform: translateX(1);
        -moz-transform: translateX(1);
        -ms-transform: translateX(1);
        -o-transform: translateX(1);
    }

}

@media (min-width: 1200px) {
    .leftSide {
        display: block !important;
        transform: translateX(1) !important;
        -webkit-transform: translateX(1) !important;
        -moz-transform: translateX(1) !important;
        -ms-transform: translateX(1) !important;
        -o-transform: translateX(1) !important;
}

    .bars {
        display: none !important;
    }
}