@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.categories {
    background-color: #EBEBEB;
    width: 100%;
    min-height: 100vh;
}

.leftSide {
    width: fit-content;
}

.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 320px;
    border-radius: 0px 92px 0 0 ;
    background-color: #FFF;
    -webkit-border-radius: 0px 92px 0 0 ;
    -moz-border-radius: 0px 92px 0 0 ;
    -ms-border-radius: 0px 92px 0 0 ;
    -o-border-radius: 0px 92px 0 0 ;
}

.topImage {
    position: absolute;
    top: -56px;
}
.bottomImage {
    position: absolute;
    bottom: -10px;
}

.talents {
    list-style: none;
    margin-left: 20px;
}

.talents li {
    margin-top: 19px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: rgba(0, 0, 0, 70%);
    font-family: "Poppins", sans-serif;
}

.talents li:before {
    content: '';
    position: absolute;
    left: -54px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.talents li.activeLi:before {
    content: '';
    width: 6px;
    height: 47px;
    background-color: #7939FF;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}


.talents li:hover {
    color: rgba(0, 0, 0, 50%);
}



.content {
    margin-top: 100px;
    margin-left: 270px;
    width: calc(100% - 270px);
}