.profile {
    background-color: #EBEBEB;
    width: 100%;
    min-height: 100vh;
}

/* .rightSide {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    width: calc(100% - 340px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
} */



@media (max-width: 768px) {
    .rightSide {
        margin: 100px 20px 60px;
        width: 100%;
    }

    .bottomPart {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hide {
        transform: translateX(-100%);
        display: none;
    }

    .show {
        transform: translateX(1);
        display: block;
        -webkit-transform: translateX(1);
        -moz-transform: translateX(1);
        -ms-transform: translateX(1);
        -o-transform: translateX(1);
    }
}

@media (min-width: 1200px) {
    .leftSide {
        display: block !important;
        transform: translateX(1) !important;
        -webkit-transform: translateX(1) !important;
        -moz-transform: translateX(1) !important;
        -ms-transform: translateX(1) !important;
        -o-transform: translateX(1) !important;
}

    .bars {
        display: none !important;
    }
}