.upload {
    width: 180px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    background-color: #FFF;
    border-radius: 44px;
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    -ms-border-radius: 44px;
    -o-border-radius: 44px;
}

@media (max-width: 768px) {
    .upload {
        width: 60px;
        height: 60px;
        justify-content: center !important;
        align-items: center !important;
        gap: 0px !important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .file-label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        font-size: 35px !important;
        margin: 0 8px auto;
    }

    .file-label span {
        display: none !important;
    }
}